.listGroupItem {
    color: #3b3933;
    transition: all 0.3s;
    font-size: 1.2em;
    margin: 15px;
    border-radius: 7px !important;
}
.check:hover {
    color: #12f512 !important;
}

.delete:hover {
    color: red !important;
}

.isDone {
    text-decoration:line-through;
    background: #bbbbbb !important;

}