.formContainer {
    background: #CCCCCC;
    border-radius: 20px;
    padding: 10px 50px;
}

hr {
    border-top: 1px solid #999999;
}

.error {
    font-size: 15px;
    color: red;
}

.success {
    font-size: 15px;
    color: green;
}

.inputError {
    border: 1px solid red;
}