a:hover {
    color: #fff;
    background: #878E88;
}

.card {
    background: #CCCCCC;
    border-radius: 7px;
    text-align: center;
    height: 100%;

}

.card i {
    font-size: 4rem;
}

.card-deck a {
    text-align: center;
}

.card-title {
    text-align: center;
}