.mHeader {
    background: #CCCCCC;
}
.mBody {
    background: #fafafa;
}

.error {
    font-size: 15px;
    color: red;
}

.inputError {
    border: 1px solid red !important;
}

.lightBlue {
    color: lightblue !important;
}

.lightGrey {
    color: #CCCCCC !important;
}

.lightGreen {
    color: lightgreen !important;
}

.salmon {
    color: salmon !important;
}

.lightBlueBg {
    background-color: #add8e6 !important;
}

.lightGreyBg {
    background-color: #CCCCCC !important;
}

.lightGreenBg {
    background-color: lightgreen !important;
}

.salmonBg {
    background-color: #fa8072 !important;
}

.lightBlueBg:hover {
    background-color: #93ccde !important;
}

.lightGreyBg:hover {
    background-color: #878E88 !important;
}

.lightGreenBg:hover {
    background-color: #73e973 !important;
}

.salmonBg:hover {
    background-color: #f96251 !important;
}