.formContainer {
    background: #0078a2;
    color: #fafafa;
    border-radius: 20px;
    padding: 10px 60px;
}
hr {
    border-top: 1px solid #999999;
}

.error {
    font-size: 15px;
    color: red;
}

.inputError {
    border: 2px solid red;
}

.success {
    font-size: 15px;
    color: green;
}